<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>silamon
  </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="../../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--NEW ITEMS-->
  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/src/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">



  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">



</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="logo">
      <a href="/">
        <img src="assets/img/silamom pay.jpg" alt="SilamonPayAfrica.com">
      </a>
    </div>
    <div class="links">
      <a href="/" id="link">Home</a>
      <a href="/about" id="link">About Us</a>
      <a href="/services" id="link">
        Services
        <i class="fa fa-angle-down"></i>
      </a>
      <a href="/team" id="link">Team</a>
      <a href="/contact" id="link">Contact</a>
    </div>
    <div class="account">
      <a id="link" href="#">Login</a>
      <a href="#">
        <button id="signup">Create Account</button>
      </a>
    </div>
    <div class="burger">
      <div class="div"></div>
      <div class="div"></div>
      <div class="div"></div>
    </div>
  </header>
  <!-- End Header -->

  <section class="home">
    <div class="home-info">
      <h1>Receive payments in UGX, TZS, KES, and other currencies.</h1>
      <p>From multicurrency accounts to no-code transactions, <b>Silamon-pay-Africa</b> offers everything you need.
        Options for pay-in, for receiving payments both domestically and internationally.
      </p>
      <button>Create Account</button>
      <div class="home-image">
        <img src="../../assets/img/mockup.png" alt="">
      </div>
    </div>
  </section>
  <section class="solutions">
    <h1>Explore Our Solutions</h1>
    <div class="solution-box">
      <!-- <div class="side-nav">
        <div class="pay-in-header">
          <a href="#one">
            <h4>Collect payments seamlessly with silamon Pay-In</h4>
          </a>
        </div>
        <div class="pay-in-header">
          <a href="#two">
            <h4>Collect payments with Multicurrency Virtual Accounts<h4>
          </a>
        </div>
        <div class="pay-in-header">
          <a href="#three">
            <h4>Fast, easy-to-use and optimised</h4>
          </a>
        </div>
        <div class="pay-in-header">
          <a href="#four">
            <h4>Create link, share, and accept payments from anywhere</h4>
          </a>
        </div>
        <div class="pay-in-header">
          <a href="#five">
            <h4>Reduce customer wait times for in-person transactions withsilamon POS Terminals</h4>
          </a>
        </div>
        <div class="pay-in-header">
          <a href="#six">
            <h4>Send payments with silamon
              Pay-out</h4>
          </a>
        </div>
      </div> -->
      <div class="main-content">
        <button class="button left" onclick="plusDivs(-1)">❮</button>
        <button class="button right" onclick="plusDivs(1)">❯</button>
        
        <div id="one" class="pay-in" style="display: grid;">
          <div class="pay-in-info">
            <h4>Accept payments swiftly and simply with Silamon Pay-In.</h4>
            <p>Use Silamon Pay-In to increase customer happiness and loyalty. Several payment methods are available,
              including Payment Links, POS terminals, virtual accounts, and simple checkout. The following methods are
              available to your clients for payment.</p>
            <ul>
              <li>
                <i class="material-icons">check_circle</i>
                Debit/Credit Cards
              </li>
              <li>
                <i class="material-icons">check_circle</i>
                Wire Transfer
              </li>
              <li>
                <i class="material-icons">check_circle</i>
                Mobile Money
              </li>
              <li>
                <i class="material-icons">check_circle</i>
                POS Terminal
              </li>
            </ul>
            <button>Learn More</button>
          </div>
          <div class="pay-in-image one"></div>
        </div>
        <div id="two" class="pay-in" style="display: none;">
          <div class="pay-in-info">
            <h4>Accept Payments using Virtual Accounts that Support Different Currencies.
            </h4>
            <p>Businesses may accept payments via Virtual Accounts in several currencies without paying extra costs when
              they use Silamon's Multicurrency Accounts solution. This service may be useful to companies in a range of
              industries, including travel and hospitality, SAAS, e-commerce, logistics, and consulting.</p>
            <button>Learn More</button>
          </div>
          <div class="pay-in-image two"></div>
        </div>
        <div id="three" class="pay-in" style="display: none;">
          <div class="pay-in-info">
            <h4>Quick, user-friendly and fully optimised Silamon checkout</h4>
            <p>Online payments are made easier with Silamon Checkout. It's simple to take one-time payments or collect
              regular membership fees. You may connect our checkout API or build payment links to provide your customers
              an improved checkout experience. With Silamon Checkout, your clients may make payments to you.
            </p>
            <ul>
              <li>
                <i class="material-icons">check_circle</i>
                Debit/Credit Cards
              </li>
              <li>
                <i class="material-icons">check_circle</i>
                Wire Transfer
              </li>
              <li>
                <i class="material-icons">check_circle</i>
                Pay Attitude
              </li>
            </ul>
            <button>Learn More</button>
          </div>
          <div class="pay-in-image three"></div>
        </div>
        <div id="four" class="pay-in" style="display: none;">
          <div class="pay-in-info">
            <h4>Set up links, distribute them, and receive payments</h4>
            <p>Without coding, easily build payment links and collect payments online using credit cards, wire
              transfers, or PayAttitude. Share the link with buyers anywhere, even if you don't have a website, and you
              can start selling online in just a few steps:
            </p>
            <ul id="extend">
              <li>
                <i class="material-icons">check_circle</i>
                Create account on silamon
              </li>
              <li>
                <i class="material-icons">check_circle</i>
                Generate a link to promote the product or service you are selling.
              </li>
              <li>
                <i class="material-icons">check_circle</i>
                Provide your clients with the link via various web sources.
              </li>
              <li>
                <i class="material-icons">check_circle</i>
                Once payment has been made, you receive the money into your silamon balance.
              </li>
            </ul>
            <button>Learn More</button>
          </div>
          <div class="pay-in-image four"></div>
        </div>
        <div id="five" class="pay-in" style="display: none;">
          <div class="pay-in-info">
            <h4>Silamon POS Terminals reduce client wait times for in-person transactions.</h4>
            <p>We provide POS terminals for card and transfer payments to companies such as retail shops, petrol
              stations and distributor touch points. Our Silamon POS terminal accepts the following transactions:</p>
            <ul>
              <li>
                <i class="material-icons">check_circle</i>
                ATM withdrawals
              </li>
              <li>
                <i class="material-icons">check_circle</i>
                Wire Transfer
              </li>
              <li>
                <i class="material-icons">check_circle</i>
                DSTV, cable recharge, electricity recharge, airtime top-up
              </li>
              <li>
                <i class="material-icons">check_circle</i>
                Pay with transfer
              </li>
              <li>
                <i class="material-icons">check_circle</i>
                Wallet-to-Wallet transfer
              </li>
              <li>
                <i class="material-icons">check_circle</i>
                Deposit (Fund wallet)
              </li>
            </ul>
            <button>Learn More</button>
          </div>
          <div class="pay-in-image five"></div>
        </div>
        <div id="six" class="pay-in" style="display: none;">
          <div class="pay-in-info">
            <h4>Use silamon Pay-out to send money.</h4>
            <p>We offer a straightforward approach for transferring funds to a recipient utilising a variety of payment
              options and payment destinations. Transfers may be made via payment methods with a single API integration
              or via the Silamon merchant dashboard:</p>
            <ul>
              <li>
                <i class="material-icons">check_circle</i>
                Wire Transfer
              </li>
              <li>
                <i class="material-icons">check_circle</i>
                Mobile Money
              </li>
              <li>
                <i class="material-icons">check_circle</i>
                Silamon Balance transfer
              </li>
              <li>
                <i class="material-icons">check_circle</i>
                Money pick-ups
              </li>
            </ul>
            <button>Learn More</button>
          </div>
          <div class="pay-in-image six"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="api">
    <h1>We’ve done the heavy lifting of connecting different banks, wallets, currencies, currency conversion services
      &amp;
      payment methods, so you can connect your financial world with one API.</h1>
    <p>Our APIs give you access to all the resources you need to carry out seamless payment activities from your app,
      including creating maintaining virtual accounts in available currencies, making payouts to different
      beneficiaries, and receiving payments across several channels and methods.</p>
    <button>API Documentation</button>
  </section>
  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <!-- <h3>SILAMON-PAY-AFRICA</h3> -->
            <a href="index.html" class="logo me-auto "><img src="assets/img/silamom pay.jpg" alt=""
                class="img-fluid"></a>

            <p>
              KAREN <br>
              Nairobi, NRB 535022<br>
              KENYA <br><br>
              <strong>Phone:</strong> +254700070008 <br>
              <strong>Email:</strong> info silamonpayafrica.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/services">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Send money</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Collect Payment</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Card</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Payment-link</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">invoices</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Want To Notified? Subscribe Now</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>SILAMON-PAY-AFRICA</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/ -->
          Designed by <a href="https://www.linkedin.com/in/earvine-munene-4182b2263/">Earvine Munene</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="/twitter" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="/facebook" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="instagram" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="/skype" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="/linkedin" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        <a href="/whasapp" class="whatsapp"><i class="bx bxl-whatsapp"></i></a>

      </div>
    </div>
  </footer><!-- End Footer -->

  <script>
    function plusDivs(n) {
      showDivs(slideIndex += n);
    }
    </script>
<!--   
  <script>
    let currentSection = 1; // Initial section
  
    function showSection(sectionNumber) {
      // Hide all sections
      for (let i = 1; i <= 6; i++) {
        const section = document.getElementById(i);
        if (section) {
          section.style.display = 'none';
        }
      }
  
      // Show the selected section
      const selectedSection = document.getElementById(sectionNumber);
      if (selectedSection) {
        selectedSection.style.display = 'grid';
      }
    }
  
    function plusDivs(n) {
      currentSection += n;
  
      // Ensure the section number stays within bounds
      if (currentSection < 1) {
        currentSection = 6;
      } else if (currentSection > 6) {
        currentSection = 1;
      }
  
      showSection(currentSection);
    }
  
    // Initial display
    showSection(currentSection);
  </script> -->
  
 
  <!-- <div id="preloader"></div> -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/src/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/src/assets/vendor/aos/aos.js"></script>
  <script src="/src/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/src/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/src/assets/vendor/swiper/swiper-bundle.min.js.map"></script>

  <script src="/src/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <!-- Template Main JS File -->
  <script src="/src/assets/js/main.js"></script>

  <!-- slideshow -->